* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #333;
}

/* 
*   Header
*/
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.title {
    letter-spacing: 2px;
}
.subtitle {
    color: rgb(173, 0, 0);
}
.timer {
    margin-top: 3rem;
    text-decoration: underline;
    text-decoration-color: rgb(173, 0, 0);
}

/*
*   Main
*/
.container {
    position: relative;
    text-align: center;
}
.secret-sentence {
    color: rgb(173, 0, 0);
    font-size: 1.5rem;
    letter-spacing: 5px;
}
.img-wrap {
    width: 60%;
    margin: auto;
}
.img {
    width: 100%;
    transition: all .2s linear;
}
.img-animate {
    transform: scale(.95);
    opacity: .5;
}

/* Lives left */
.lives {
    position: absolute;
    top: 5rem;
    left: 1rem;
}
.lives-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4rem;
    color: #fff;
}
.lives .fa-heart {
    font-size: 4rem;
    color: rgba(255, 0, 0, .8);
    z-index: -1;
}
.heart-animaiton {
    animation: heartFadeOut .5s linear forwards;
}

/* Hint */
.hint {
    padding: 1rem 1rem 0;
}

/*
*   Keyboard
*/
.keyboard {
    padding: 2rem 0;
}
.btn-letter {
    background-color: rgb(105, 223, 231);
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
}
.btn-letter:focus {
    background-color: rgb(0, 160, 172);
    outline: none;
    animation: btnFocus .3s linear;
}
.btn-success {
    background-color: rgb(135, 233, 126);
    transform: scale(.8);
}

/*
*   All layers
*/
.btn {
    border: none;
    padding: .5rem 2rem;
    border-radius: 5px;
    margin: 2rem 0;
    font-size: 1.5rem;
    box-shadow: inset 0 0 .2rem .1rem #333;
}
.is-hidden {
    display: none;
}
.fade-out {
    opacity: 0;
}

/*
*   Top Layer
*/
.top-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .3s ease-in;
}
.layer-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: rgb(255, 255, 255, .9);
    text-align: center;
    box-shadow: inset 0 0 .5rem 0 #333;
}
.layer-title {
    font-size: 2rem;
    padding: 3rem;
}
.layer-subtitle {
    padding-bottom: 2rem;
}
.options-wrap {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    font-size: 1.4rem;
}
.options-wrap:nth-of-type(1)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
    border-bottom: 1px solid #333;
}
.radio-label > input[type="radio"] {
    display: none;
}
.radio-label > span {
    padding: 0 .5rem 0 0;
    border-left: 10px solid transparent;
    border-radius: .2rem;
    transition: all .5s ease;
}
.radio-label > input:checked + span {
    border-color: rgb(135, 233, 126);
}
.btn-start {
    background: none;
    box-shadow: none;
    border: 3px solid rgb(135, 233, 126);
    padding: .2rem 1rem;
    transition: all .5s ease;
}
.btn-start:focus {
    background-color: rgb(15, 165, 1);
    outline: none;
    animation: btnFocus .3s linear;
}

/*
*   Game over layer
*/
.game-over-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all .5s ease-in;
}
.layer-inner.win-layer {
    background-color: rgb(111, 250, 146);
}
.time-result {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}
.icon {
    font-size: 3rem;
    padding: 0 0 1rem;
}
.btn-reset {
    background-color: rgb(53, 231, 53);
    color: #333;
}

/*
*   Keyframes
*/
@keyframes heartFadeOut {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes btnFocus {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}